@import "colors-bas";

@fg-dark: #000;
@fg-light: #fff;
@bg-l5: #f4faf4;
@bg-l4: #dbefdc; 
@bg-l3: #b7dfb8; 
@bg-l2: #93cf95; 
@bg-l1: #6ec071; 
@bg-d1: #459c48; 
@bg-d2: #3d8b40; 
@bg-d3: #357a38; 
@bg-d4: #2e6830; 
@bg-d5: #265728; 
@text:  #4caf50;
