<div class="sns-links hidden-print">
  <a href="/tags/">
    <spam title="Tags"  class="fa fa-tags"></spam>
  </a>
  <a href="/categories/">
    <spam title="Categorias"  class="fa fa-sitemap"></spam>
  </a>
<!--   commenting pencil-square reorder sitemap user file -->
  {{ with .Site.Params.twitter }}
  <a href="https://twitter.com/{{ . }}" target="_blank">
    <spam title="Twitter"  class="fa fa-twitter"></spam>
  </a>
  {{ end }}
  {{ with .Site.Params.instagram }}
  <a href="https://instagram.com/{{ . }}" target="_blank">
    <i class="fa fa-instagram"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.googleplus }}
  <a href="https://plus.google.com/+{{ . }}" target="_blank">
    <i class="fa fa-google"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.facebook }}
  <a href="https://facebook.com/{{ . }}" target="_blank">
    <spam title="Facebook"  class="fa fa-facebook"></spam>
  </a>
  {{ end }}
  {{ with .Site.Params.github }}
  <a href="https://github.com/{{ . }}" target="_blank">
    <spam title="GitHub" class="fa fa-github"></spam>
  </a>
  {{ end }}
  {{ with .Site.Params.stackoverflow }}
  <a href="https://stackoverflow.com/users/{{ . }}" target="_blank">
    <i class="fa fa-stack-overflow"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.linkedin }}
  <a href="https://linkedin.com/in/{{ . }}" target="_blank">
    <i class="fa fa-linkedin"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.keybase }}
  <a href="https://keybase.io/{{ . }}" target="_blank">
    <i class="fa fa-key"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.contact }}
  <a href="{{ . }}">
    <spam title="Contato"  class="fa fa-envelope"></spam>
  </a>
  {{ end }}
  <a href="/about/" name="About">
    <spam title="Sobre" class="fa fa-user"></spam>
  </a>
</div>
